In [1]:
5 //2

2

In [2]:
a =20
b= 10
b-a

-10

In [12]:
a = int(input("Enter the nu1"))
b = input("Enter the nu2")
if a<10:
 print("Number is less than 10")
else:
    print("Number is greater than 10")

Enter the nu14
Enter the nu25
Number is less than 10

In [8]:
a=input("Enter the first name")
b=input("Enter the scond number")
print("First nane is {first} and seconf nane is {last}".format(first=a,last=b))

Enter the first namesachin
Enter the scond numberthakur
First nane is sachin and seconf nane is thakur

In [13]:
lst = [1,2,"sachin","thakur"]
lst[2]

'sachin'

In [14]:
lst.append("rer")

In [15]:
lst

[1, 2, 'sachin', 'thakur', 'rer']